body{
    background-image: url("https://i.pinimg.com/736x/ef/b2/18/efb21890906b66a9f94c096a95dfdb79.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1{
    font-family: 'Great Vibes', cursive;
}

h2{
    font-family: 'Lobster Two', cursive;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid #5486de;
    background: #a3dce3;
    color: #052c3a;
    box-shadow: 1px 1px 2px #338093;
    border-radius: 10px;
    padding: 3px 10px;
    cursor: pointer;
}